@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('/WOFF2/IosevkaCustom-Regular.woff2') format('woff2'), url('TTF/IosevkaCustom-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: oblique;
    src: url('/WOFF2/IosevkaCustom-Oblique.woff2') format('woff2'), url('TTF/IosevkaCustom-Oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    src: url('/WOFF2/IosevkaCustom-Oblique.woff2') format('woff2'), url('TTF/IosevkaCustom-Oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/WOFF2/IosevkaCustom-Bold.woff2') format('woff2'), url('TTF/IosevkaCustom-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: oblique;
    src: url('/WOFF2/IosevkaCustom-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    src: url('/WOFF2/IosevkaCustom-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldOblique.ttf') format('truetype');
}
img.inline {
    display: inline-flex;
    height: 1em;
    vertical-align: -0.1em;
}

hr.divider {
    border: none;
    border-top: 2px solid;
}html {
  overflow-y: scroll
}
:root {
  --bgcolor: #f8f9fa;
  --dimcolor: #eee;
  --fontcolor: #000;
  --linkcolor: #00e;
  --visitedcolor: #00e;
  --precolor: #fff;
  --prebgcolor: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
     --bgcolor: #222;
     --dimcolor: #333;
     --fontcolor: #ddd;
     --linkcolor: #5bf;
     --visitedcolor: #5bf;
     --precolor: #fff;
     --prebgcolor: #383838;
  }
}
body {
  color: var(--fontcolor);
  background: var(--bgcolor);
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:link {
  color: var(--linkcolor);
}
a:visited {
  color: var(--visitedcolor);
}
a:active {
  color: var(--visitedcolor);
}
h1,h2,h3 {
  line-height: 1.2;
}
p > code {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 2px;
}
pre {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 24px;
  overflow-x: auto;
}
article {
  padding: 5px 0;
}
.center  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
#root {
  font-family: Iosevka, monospace;
  max-width: 750px;
  margin: 0 auto;
  padding: 10px;
}
#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#brand a {
  color: var(--fontcolor);
  text-decoration: none;
}
#brand h1, #brand h3 {
  margin: 0;
}
#brand h1 {
  font-size: 30px;
}
#brand h3 {
  font-size: 20px;
  font-weight: normal;
}
#brand .icon {
  width: 75px;
}
footer {
  margin-top: 30px;
}
header nav {
  margin: 15px 0;
}
h1.title {
  margin: 1.3rem 0 0 0;
}
h3.subtitle {
  font-weight: normal;
  margin: 0;
}
div.post-meta {
  margin-top: 1.3rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #root {
    margin-top: 25px;
  }
  #brand {
    flex-direction: row;
    text-align: unset;
  }
  #brand .text {
    margin-left: 10px;
  }
  #brand h1 {
    font-size: 45px;
  }
  #brand h3 {
    font-size: 25px;
  }
}
#postsByDate  {
  list-style: none;
}
#postsByDate .date {
  width: 60px;
}
#postsByDate div, #postsInOneGroup div {
  display: inline-block;
}
#terms {
  list-style: none;
}
#terms .term {
  background-color: #ddd;
  border-radius: 10px;
  display: inline-block;
  margin: 2px;
  padding: 8px;
}
